@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

*{
    font-family: 'Montserrat';
}

body,h1,h2{
    margin: 0px;
    padding: 0px;
}

body{
    min-width: fit-content;
}

h1 {
    font-size:  36px;
    font-weight: bold;
    font-style: italic;
}
 
h2 {
    font-size: 20px;
    font-weight: lighter;
    color: #282828;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 16px;
    padding-bottom: 5px;
}

.name-text{
    font-size:  17px;
    color: #7c7c7c;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #121212;
    color: #919191;
    font-size:  12px;
    padding: 20px;
}

section {
    margin-bottom: 24px;

}

.name-text {
    font-size: 18px;
    color: #7c7c7c;
    font-weight: solid;
}

.about-me-text {
    font-size: 20px;
    line-height: 28px;
}

.title-text {
    font-size: 20px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.mainbox{
    border: 1px solid #ebebeb;
    width: 810px;
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.float-wrap {
    overflow: hidden;
}

.desc-text {
    font-size: 13px;
}

/*설명 강조 텍스트*/
.desc-title {
    font-style: italic;
    font-size: 13px;
}

.desc-subtext {
    font-size: 12px;
    color: #282828;
    padding-left: 16px;
}

/*공모전 1등*/
.desc-aword_1{
    color: white;
    border-radius: 15%;
    background-color: #ff0000;
    margin-right: 15px;
    padding: 3px;
}

/*공모전 2등*/
.desc-aword_2 {
    color: white;
    border-radius: 15%;
    background-color: #0100ff;
    margin-right: 15px;
    padding: 3px;
}

/*공모전 기타 순위*/
.desc-aword_etc {
    color: white;
    border-radius: 15%;
    background-color: #1ddb16;
    margin-right: 15px;
    padding: 3px;
}


.title-box {
    text-align: right;
}

.sns-image {
    width: 32px;
    height: 32px;
}

.sns-wrap {
    text-align: right;
    margin-right: 20px;
}

/*프로필 이미지*/
.profile-img {
    width: 100vh;
}

/*멀티타이핑 애니메이션*/
.container{
    width: 720px;
    overflow: hidden;
}
.container .text{
    position: relative;
    color: #1957ff;
    font-size: 20px;
}
.container .text.first-text{
    color: rgb(0, 0, 0);
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}